.he-container {
  height: 170vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 150px;

  align-items: center;

  .workshop-card-container {
    width: 90%;
    .he-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      h1 {
        font-family: "Archivo", sans-serif;
        font-size: 34px;
        line-height: 26px;
        color: #333333;
        font-weight: 800;
      }

      .explore-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 88px;
        height: 44px;
        border: 1px solid #333333;
        border-radius: 4px;
        font-family: "Public Sans", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #333333;

        button {
          width: 100%;
          height: 100%;
        }
        :hover {
          background-color: #333333;
          color: white;
        }
      }
    }

    .he-bottom {
      display: flex;
      justify-content: space-between;
    }
  }

  .contest-card-container {
    width: 90%;
    .he-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      h1 {
        font-family: "Archivo", sans-serif;
        font-size: 34px;
        line-height: 26px;
        color: #333333;
        font-weight: 800;
      }

      .explore-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 88px;
        height: 44px;
        border: 1px solid #333333;
        border-radius: 4px;
        font-family: "Public Sans", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #333333;

        button {
          width: 100%;
          height: 100%;
        }
        :hover {
          background-color: #333333;
          color: white;
        }
      }
    }

    .he-bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}
