.hometodo-container {
  height: 100vh;
  background-color: #333333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .htd-title {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 26px;
  }

  .htd-boxes {
    color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .htd-boxleft {
      width: 631px;
      height: 346px;
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      justify-content: center;

      h1 {
        width: 70%;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.02em;
        font-weight: 800;
        font-family: "Archivo", sans-serif;
        span {
          color: #007dfb;
        }
      }
      p {
        width: 70%;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #333333;
        font-family: "Public Sans", sans-serif;
        margin-top: 28px;
      }
    }

    .htd-boxright {
      width: 631px;
      height: 346px;
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      justify-content: center;

      h1 {
        width: 70%;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.02em;
        font-weight: 800;
        font-family: "Archivo", sans-serif;
        span {
          color: #007dfb;
        }
      }
      p {
        width: 70%;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #333333;
        font-family: "Public Sans", sans-serif;
        margin-top: 28px;
      }
    }

    .htd-bottom p {
      font-family: "Public Sans", sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
