.card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: 100%;

  .card-thumbnail img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid black;
  }

  .card-title {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-top {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 20px;

      p {
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #757575;
      }

      span {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #757575;
        text-align: right;
      }
    }
  }

  .card-middle {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.59px;
      margin: 0;
    }
    span {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.89px;
      margin: 0;
    }
  }
  .price {
    flex: 1; /* The price will take up 50% of the available space */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.72px;
      margin: 0;
    }
  }
}

.card:hover {
  box-shadow: 4px 4px 0 #333;
}
