.card {
  border: 1px solid black;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-bottom: 20px;
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .card-thumbnail img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid black;
    aspect-ratio: 3/2;
  }

  .card-title {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-grow: 1;

    h1 {
      font-family: "Archivo", sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.6px;
      flex-grow: 1;
      width: 90%;
      margin: 0 auto;
    }

    .instructor-name {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 20px auto;

      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #757575;
      }

      span {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #757575;
        text-align: right;
      }
    }
  }

  .card-tagline {
    border-bottom: 1px solid black;
    flex-grow: 1;
    padding: 20px;
    p {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.39px;
      overflow: hidden;
    }
  }

  .card-extra {
    display: flex;
    justify-content: center; /* Center the start date and price horizontally */
    align-items: center; /* Center the start date and price vertically */
    margin-bottom: 0;
    height: 65px;

    .start-date {
      flex: 1.5; /* The start date will take up 50% of the available space */
      border-right: 1px solid black;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.59px;
        margin: 0;
      }
      span {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.89px;
        margin: 0;
      }
    }
    .price {
      flex: 1; /* The price will take up 50% of the available space */
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.72px;
        margin: 0;
      }
    }
  }
}

.card:hover {
  box-shadow: 5px 5px 0 #333;
}

@media (max-width: 767px) {
  .card {
    .card-thumbnail img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      aspect-ratio: 3/2;
    }
    .card-title {
      margin-top: 16px;

      h1{
        font-size: 18px;
        line-height: 28px;
      }
      .instructor-name{
        margin: 16px auto;
        margin-top: 8px;

        p{
          font-size: 12px;
        }
        span{
          font-size: 9px;
        }
      }
    }

    .card-tagline{
      padding-top: 16px;
      padding-bottom: 10px;

      p{
        font-size: 12px;
        line-height: 20px;
      }
    }

    .card-extra{
      height: 55px;

      .start-date{
        p{
          font-size: 12px;
        }
        span{
          font-size: 12px;
        }
      }
      .price{
        p{
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .card {
    width: 100%;
  }
}
