@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 85.1%;
    --muted-darker: 0 0% 75.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 50.8%;

    --primary: 223 88% 44%;
    --primary-lighter: 210 100% 49%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 20%;
    --secondary-lighter: #757575;
    --secondary-darker: 0 0% 16%;
    --secondary-foreground: 0 0% 95%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 223 88% 44%;
    --primary-lighter: 210 100% 49%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 14.9%;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: hsl(var(--accent));
  // overflow-x: hidden;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #333;
}

::selection {
  color: white;
  background: #333;
}

.ql-editor {
  min-height: 150px;
  max-height: 200px;
  overflow-y: auto;
  font-size: 1rem;
}

.ql-editor::before {
  white-space: pre-wrap;
}

.ql-bubble {
  border: 1px solid #ccc;
}

.ql-bubble .ql-editor {
  min-height: 100px;
  max-height: 150px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

