.home-container {
  background-image: url("https://uploads-ssl.webflow.com/61e90cfc43ba4a64cb42a077/61ee5404ef4206c95ee21a92_grain-bg.jpg");
}
.home-hero {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);

  .hero-top {
    display: flex;
    height: calc((100vh - 100px) - 100px);
    justify-content: space-between;
    border-bottom: 1px solid black;

    .htop-left {
      width: 25%;
      height: 100%;
      border-right: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;

      h1 {
        width: 70%;
        font-family: "Archivo", sans-serif;
        letter-spacing: 0.02em;
        font-size: 24px;
        color: #333333;
        font-weight: 800;
      }

      p {
        font-family: "Public Sans", sans-serif;
        width: 70%;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-top: 15px;
        color: #757575;
      }
    }

    .htop-center {
      width: 50%;
      height: 100%;
      border-right: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        width: 70%;
        font-family: "Archivo", sans-serif;
        letter-spacing: 0.02em;
        font-size: 48px;
        color: #333333;
        font-weight: 800;
        line-height: 56px;

        span{
            color: #007dfb;
        }
      }

      p {
        font-family: "Public Sans", sans-serif;
        width: 70%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-top: 32px;
        color: #757575;
        margin-bottom: 32px;
      }

      .htopc-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 62px;
        gap: 12px;
        font-family: "Public Sans" sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 32px;

        text-align: center;
        letter-spacing: 0.03em;

        color: #ffffff;

        button {
          width: 100%;
          height: 100%;
          background: #007dfb;
          border: 2px solid #333333;
          box-shadow: 3px 3px 0px #000000;
          border-radius: 34px;

          
        }
        :hover {
            box-shadow: 0px 0px 0px #000000;
          }
      }
    }

    .htop-right {
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;

      h1 {
        width: 70%;
        font-family: "Archivo", sans-serif;
        letter-spacing: 0.02em;
        font-size: 24px;
        color: #333333;
        font-weight: 800;
      }

      p {
        font-family: "Public Sans", sans-serif;
        width: 70%;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-top: 15px;
        color: #757575;
      }
    }
  }

  .hero-bottom {
    display: flex;
    height: 100px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;

    .hbottom-left{
        height: 100%;
        width: 25%;
        background-color: #007dfb;
    }

}

}

