.home-container {
  background-image: url("https://uploads-ssl.webflow.com/61e90cfc43ba4a64cb42a077/61ee5404ef4206c95ee21a92_grain-bg.jpg");
}
.home-hero {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);

  .hero-top {
    display: flex;
    height: calc((100vh - 100px) - 100px);
    justify-content: space-between;
    border-bottom: 1px solid black;

    .htop-left {
      width: 25%;
      height: 100%;
      border-right: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;

      h1 {
        width: 70%;
        font-family: "Archivo", sans-serif;
        letter-spacing: 0.02em;
        font-size: 24px;
        color: #333333;
        font-weight: 800;
      }

      p {
        font-family: "Public Sans", sans-serif;
        width: 70%;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-top: 15px;
        color: #757575;
      }
    }

    .htop-center {
      width: 50%;
      height: 100%;
      border-right: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        width: 70%;
        font-family: "Archivo", sans-serif;
        letter-spacing: 0.02em;
        font-size: 48px;
        color: #333333;
        font-weight: 800;
        line-height: 56px;

        span {
          color: #007dfb;
        }
      }

      p {
        font-family: "Public Sans", sans-serif;
        width: 70%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-top: 32px;
        color: #757575;
        margin-bottom: 32px;
      }

      .htopc-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 62px;
        gap: 12px;
        font-family: "Public Sans" sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 32px;

        text-align: center;
        letter-spacing: 0.09em;

        color: #ffffff;

        button {
          width: 100%;
          height: 100%;
          background: #007dfb;
          border: 2px solid #333333;
          box-shadow: 3px 3px 0px #000000;
          border-radius: 34px;
        }
        :hover {
          box-shadow: 0px 0px 0px #000000;
        }
      }
    }

    .htop-right {
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;

      h1 {
        width: 70%;
        font-family: "Archivo", sans-serif;
        letter-spacing: 0.02em;
        font-size: 24px;
        color: #333333;
        font-weight: 800;
      }

      p {
        font-family: "Public Sans", sans-serif;
        width: 70%;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-top: 15px;
        color: #757575;
      }
    }
  }

  .hero-bottom {
    display: flex;
    height: 100px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    color: #333333;

    .hbottom-links {
      height: 100%;
      width: 100%;
      font-weight: 600;
      button {
        height: 100%;
        width: 100%;

        span {
          display: none;
        }
      }

      :hover {
        background: #007dfb;
        color: white;
      }
    }

    .hbottom-left {
      width: 25%;
      height: 100%;
      border-right: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
    }

    .hbottom-center {
      width: 50%;
      height: 100%;
      border-right: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 14px;
    }

    .hbottom-right {
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  }
}

.hometodo-container {
  height: 120vh;
  background-color: #333333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .htd-title {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 26px;
  }

  .htd-boxes {
    color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .htd-boxleft {
      width: 631px;
      height: 346px;
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      justify-content: center;

      h1 {
        width: 70%;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.02em;
        font-weight: 800;
        font-family: "Archivo", sans-serif;
        span {
          color: #007dfb;
        }
      }
      p {
        width: 70%;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #333333;
        font-family: "Public Sans", sans-serif;
        margin-top: 28px;
      }
    }

    .htd-boxright {
      width: 631px;
      height: 346px;
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      justify-content: center;

      h1 {
        width: 70%;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.02em;
        font-weight: 800;
        font-family: "Archivo", sans-serif;
        span {
          color: #007dfb;
        }
      }
      p {
        width: 70%;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #333333;
        font-family: "Public Sans", sans-serif;
        margin-top: 28px;
      }
    }

    .htd-bottom p {
      font-family: "Public Sans", sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.he-container {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 150px;

  align-items: center;

  .workshop-card-container {
    width: 90%;
    .he-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      h1 {
        font-family: "Archivo", sans-serif;
        font-size: 34px;
        line-height: 26px;
        color: #333333;
        font-weight: 800;
      }

      .explore-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 88px;
        height: 44px;
        border: 1px solid #333333;
        border-radius: 4px;
        font-family: "Public Sans", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #333333;

        button {
          width: 100%;
          height: 100%;
        }
        :hover {
          background-color: #333333;
          color: white;
        }
      }
    }

    .he-bottom {
      display: flex;
      justify-content: space-between;
    }
  }

  .contest-card-container {
    width: 90%;
    .he-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      h1 {
        font-family: "Archivo", sans-serif;
        font-size: 34px;
        line-height: 26px;
        color: #333333;
        font-weight: 800;
      }

      .explore-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 88px;
        height: 44px;
        border: 1px solid #333333;
        border-radius: 4px;
        font-family: "Public Sans", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #333333;

        button {
          width: 100%;
          height: 100%;
        }
        :hover {
          background-color: #333333;
          color: white;
        }
      }
    }

    .he-bottom {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

center {
  background-color: white;
  padding-top: 200px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.faq-quest {
  line-height: 3;
  color: black;
  text-align: left;
}

.faq-ans {
  text-align: left;
  color: #333;
}

.hover\:underline:hover {
  text-decoration-line: none;
  color: #333;
}

.faq-title {
  font-size: 70px;
}

.faq-p a {
  text-decoration: underline;
  cursor: pointer;
  color: #333;
}

@media screen and (max-width: 520px) {
  .home-hero {
    height: 800px;
    .hero-top {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 640px;

      .htop-left {
        display: none;
      }

      .htop-center {
        width: 100%;
        border-bottom: 1px solid black;
        border-right: 0;
        height: 400px;

        h1 {
          width: 80%;
          font-size: 28px;
          line-height: 36px;
          margin-top: 50px;
        }

        p {
          width: 80%;
          font-size: 9px;
          font-weight: 300;
          line-height: 16px;
          letter-spacing: 0.27px;
          margin-top: 28px;
          margin-bottom: 28px;
        }

        .htopc-button {
          width: 128px;
          height: 42px;
          margin-bottom: 50px;

          button {
            width: 100%;
            height: 100%;
            background: #007dfb;
            border: 2px solid #333333;
            box-shadow: 1px 1px 0px #000000;
            border-radius: 34px;
            letter-spacing: 0.76px;
            font-size: 9px;
            font-weight: 700;
          }
        }
      }

      .htop-right {
        width: 80%;
        margin: auto;
        height: 240px;

        h1 {
          width: 100%;
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 1px;
          font-weight: 800;
        }

        p {
          width: 100%;
          font-size: 10px;
          font-weight: 300;
          line-height: 20px;
          letter-spacing: 0.2px;
        }
      }
    }

    .hero-bottom {
      height: 250px;
      width: 100%;
      flex-direction: column-reverse;
      justify-content: center;

      .hbottom-links {
        height: 30px;
        width: 100%;
        font-weight: 600;
        button {
          height: 30px;
          width: 100%;
          display: flex;

          span {
            display: block;
          }
        }
      }

      .hbottom-right {
        display: none;
      }

      .hbottom-left {
        width: 80%;
        margin: auto;
        border-right: 0;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 220% */
        letter-spacing: 0.3px;
        box-sizing: border-box;
        height: 0;
        padding-bottom: 25px;
      }

      .hbottom-center {
        border-right: 0;
        width: 80%;
        margin: auto;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px; /* 153.846% */
        letter-spacing: 0.39px;
        height: 0;
        text-align: left;
        padding-top: 40px;
      }
    }
  }
  .hometodo-container {
    height: 100%;
    .htd-title {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      margin-top: 60px;
    }
    .htd-boxes {
      flex-direction: column;
      width: 80%;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 80px;

      .htd-boxleft {
        width: 100%;
        height: 190px;
        margin-bottom: 40px;
        border-radius: 6px;

        h1 {
          width: 80%;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.32px;
        }

        p {
          width: 80%;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.33px;
          margin-top: 20px;
        }
      }

      .htd-boxright {
        width: 100%;
        height: 190px;
        border-radius: 6px;
        
        h1 {
          width: 80%;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.32px;
        }

        p {
          width: 80%;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.33px;
          margin-top: 20px;
        }
      }

      
    }
    .htd-bottom{
      display: none;
    }
  }
}
