.workshops-container {
  display: flex;
  height: 600px;
  width: 100%;
  flex-direction: column;

  .wc-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #007dfb;
    border-bottom: 1px solid black;
    height: 230px;

    .header-container {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      height: 230px;
      justify-content: space-evenly;

      .header-up {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .hu-logo {
          width: 20%;
          display: flex;
          color: white;
          font-weight: 800;
          font-style: normal;
          font-size: 37px;
          font-family: "Archivo", sans-serif;
        }

        .hu-search {
          width: 78%;
          background-color: white;
          border-radius: 2px;

          height: 50px;
          input[type="text"] {
            display: flex;
            width: 100%;
            align-items: center;
            height: 100%;
            color: #333;
            padding-left: 20px;
            outline: none;
            border: 1px solid black;
            letter-spacing: 0.82px;

            svg {
              font-size: 20px;
              margin-left: 20px;
              margin-right: 10px;
            }
            h2 {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0.32px;
            }
          }
          input[type="text"]:focus {
            border: 2px solid black;
          }
        }
      }

      .header-tags {
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        height: 30px;
        

        .categories{
        width: 50%;
        height: 120%;
        }

    .categories:hover{
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        color: #333;
        border-radius: 30px;
        box-shadow: 5px 5px 0 black;
    }
      }
    }
  }

  .wc-cards {
    width: 85%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
